# Multiple files with `pandas`

In [1]:
import numpy as np
import pandas as pd
import matplotlib

## Merge Practice

In [2]:
a_df = pd.DataFrame({
    'Country': ['Germany', 'France', 'Belgium', 'Finland'],
    'Population (M)': [82.8, 67.2, 11.4, 5.5],
    'Capital': ['Berlin', 'Paris', 'Brussels', 'Helsinki']
})
a_df

   Country  Population (M)   Capital
0  Germany            82.8    Berlin
1   France            67.2     Paris
2  Belgium            11.4  Brussels
3  Finland             5.5  Helsinki

In [3]:
b_df = pd.DataFrame({
    'Country': ['Germany', 'France', 'Belgium', 'Canada'],
    'HDI': [0.936, 0.901, 0.916, 0.926]
})
b_df

   Country    HDI
0  Germany  0.936
1   France  0.901
2  Belgium  0.916
3   Canada  0.926

### Inner Merge Practice

In [4]:
inner_merged_df=a_df.merge(b_df,left_on='Country', right_on='Country')
inner_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916

#### Check your code

In [5]:
from nbresult import ChallengeResult

result = ChallengeResult('inner_merge',
    inner_merged_shape=inner_merged_df.shape,
    inner_merged_nulls=sum(inner_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/ana/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/ana/code/nusero92/data-multiple-files-with-pandas/tests
plugins: anyio-3.6.2, asyncio-0.19.0
asyncio: mode=strict
collecting ... collected 2 items

test_inner_merge.py::TestInnerMerge::test_inner_merged_nulls PASSED      [ 50%]
test_inner_merge.py::TestInnerMerge::test_inner_merged_shape PASSED      [100%]

============================== 2 passed in 0.02s ===============================


ðŸ’¯ You can commit your code:

git add tests/inner_merge.pickle

git commit -m 'Completed inner_merge step'

git push origin master

### Left Merge Practice

In [6]:
left_merged_df=a_df.merge(b_df,left_on='Country', right_on='Country', how="left")
left_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3  Finland             5.5  Helsinki    NaN

#### Check your code

In [7]:
from nbresult import ChallengeResult

result = ChallengeResult('left_merge',
    left_merged_shape=left_merged_df.shape,
    left_merged_nulls=sum(left_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/ana/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/ana/code/nusero92/data-multiple-files-with-pandas/tests
plugins: anyio-3.6.2, asyncio-0.19.0
asyncio: mode=strict
collecting ... collected 2 items

test_left_merge.py::TestLeftMerge::test_left_merged_df_shape PASSED      [ 50%]
test_left_merge.py::TestLeftMerge::test_left_merged_nulls PASSED         [100%]

============================== 2 passed in 0.04s ===============================


ðŸ’¯ You can commit your code:

git add tests/left_merge.pickle

git commit -m 'Completed left_merge step'

git push origin master

### Right Merge Practice

In [8]:
right_merged_df=a_df.merge(b_df,left_on='Country', right_on='Country', how="right" )
right_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3   Canada             NaN       NaN  0.926

#### Check your code

In [9]:
from nbresult import ChallengeResult

result = ChallengeResult('right_merge',
    right_merged_shape=right_merged_df.shape,
    right_merged_nulls=sum(right_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/ana/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/ana/code/nusero92/data-multiple-files-with-pandas/tests
plugins: anyio-3.6.2, asyncio-0.19.0
asyncio: mode=strict
collecting ... collected 2 items

test_right_merge.py::TestRightMerge::test_right_merged_df_shape PASSED   [ 50%]
test_right_merge.py::TestRightMerge::test_right_merged_nulls PASSED      [100%]

============================== 2 passed in 0.03s ===============================


ðŸ’¯ You can commit your code:

git add tests/right_merge.pickle

git commit -m 'Completed right_merge step'

git push origin master

### Outer Merge Practice

In [10]:
outer_merged_df=a_df.merge(b_df,left_on='Country', right_on='Country', how="outer" )

In [11]:
outer_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3  Finland             5.5  Helsinki    NaN
4   Canada             NaN       NaN  0.926

#### Check your code

In [12]:
from nbresult import ChallengeResult

result = ChallengeResult('outer_merge',
    outer_merged_shape=outer_merged_df.shape,
    outer_merged_nulls=sum(outer_merged_df.isnull().sum())
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/ana/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/ana/code/nusero92/data-multiple-files-with-pandas/tests
plugins: anyio-3.6.2, asyncio-0.19.0
asyncio: mode=strict
collecting ... collected 2 items

test_outer_merge.py::TestOuterMerge::test_outer_merged_df_shape PASSED   [ 50%]
test_outer_merge.py::TestOuterMerge::test_outer_merged_nulls PASSED      [100%]

============================== 2 passed in 0.04s ===============================


ðŸ’¯ You can commit your code:

git add tests/outer_merge.pickle

git commit -m 'Completed outer_merge step'

git push origin master

## Join Practice

In [13]:
aa_df = a_df.set_index("Country")
aa_df

         Population (M)   Capital
Country
Germany            82.8    Berlin
France             67.2     Paris
Belgium            11.4  Brussels
Finland             5.5  Helsinki

In [14]:
bb_df = b_df.set_index("Country")
bb_df

           HDI
Country
Germany  0.936
France   0.901
Belgium  0.916
Canada   0.926

In [15]:
aa_df.join(bb_df) #this is left join by default

         Population (M)   Capital    HDI
Country
Germany            82.8    Berlin  0.936
France             67.2     Paris  0.901
Belgium            11.4  Brussels  0.916
Finland             5.5  Helsinki    NaN

In [16]:
aa_df.join(bb_df, how='inner')

         Population (M)   Capital    HDI
Country
Germany            82.8    Berlin  0.936
France             67.2     Paris  0.901
Belgium            11.4  Brussels  0.916

In [17]:
aa_df.join(bb_df, how='right')

         Population (M)   Capital    HDI
Country
Germany            82.8    Berlin  0.936
France             67.2     Paris  0.901
Belgium            11.4  Brussels  0.916
Canada              NaN       NaN  0.926

In [18]:
aa_df.join(bb_df, how='outer')

         Population (M)   Capital    HDI
Country
Belgium            11.4  Brussels  0.916
Canada              NaN       NaN  0.926
Finland             5.5  Helsinki    NaN
France             67.2     Paris  0.901
Germany            82.8    Berlin  0.936

You can use .merge() when you want to merge based on a given column and .join() when you want to join on the index.

## Concat Practice

In [19]:
concat_df = pd.concat([a_df, b_df], axis="index")
concat_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin    NaN
1   France            67.2     Paris    NaN
2  Belgium            11.4  Brussels    NaN
3  Finland             5.5  Helsinki    NaN
0  Germany             NaN       NaN  0.936
1   France             NaN       NaN  0.901
2  Belgium             NaN       NaN  0.916
3   Canada             NaN       NaN  0.926

## Olympic Sports and Medals, 1896-2014

In [20]:
file ="dictionary.csv"
countries_df=pd.read_csv(file,decimal=",")
countries_df.head()

           Country Code  Population    GDP per Capita
0      Afghanistan  AFG  32526562.0  594.323081219966
1          Albania  ALB   2889167.0  3945.21758150914
2          Algeria  ALG  39666519.0  4206.03123244958
3  American Samoa*  ASA     55538.0               NaN
4          Andorra  AND     70473.0               NaN

In [21]:
file="summer.csv"
summer_df=pd.read_csv(file, decimal=",")
summer_df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [22]:
file="winter.csv"
winter_df=pd.read_csv(file, decimal=",")
winter_df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, AndrÃ©",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

### Combining The Data

In [23]:
summer_df=summer_df.rename(columns={"Country":"Code"})
summer_df.head()

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [24]:
winter_df=winter_df.rename(columns={"Country":"Code"})
winter_df.head()

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, AndrÃ©",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [25]:
summer_countries_df=countries_df.merge(summer_df,left_on='Code', right_on='Code')
summer_countries_df.head()

,Country,Code,Population,GDP per Capita,Year,City,Sport,Discipline,Athlete,Gender,Event,Medal
0,Afghanistan,AFG,32526562.0,594.323081219966,2008,Beijing,Taekwondo,Taekwondo,"NIKPAI, Rohullah",Men,- 58 KG,Bronze
1,Afghanistan,AFG,32526562.0,594.323081219966,2012,London,Taekwondo,Taekwondo,"NIKPAI, Rohullah",Men,58 - 68 KG,Bronze
2,Algeria,ALG,39666519.0,4206.03123244958,1984,Los Angeles,Boxing,Boxing,"ZAOUI, Mohamed",Men,71-75KG,Bronze
3,Algeria,ALG,39666519.0,4206.03123244958,1984,Los Angeles,Boxing,Boxing,"MOUSSA, Mustapha",Men,75 - 81KG (Light-Heavyweight),Bronze
4,Algeria,ALG,39666519.0,4206.03123244958,1992,Barcelona,Athletics,Athletics,"BOULMERKA, Hassiba",Women,1500M,Gold

In [41]:
summer_countries_df["Season"]="summer"
summer_countries_df

,Country,Code,Population,GDP per Capita,Year,City,Sport,Discipline,Athlete,Gender,Event,Medal,Season
0,Afghanistan,AFG,32526562.0,594.323081219966,2008,Beijing,Taekwondo,Taekwondo,"NIKPAI, Rohullah",Men,- 58 KG,Bronze,summer
1,Afghanistan,AFG,32526562.0,594.323081219966,2012,London,Taekwondo,Taekwondo,"NIKPAI, Rohullah",Men,58 - 68 KG,Bronze,summer
2,Algeria,ALG,39666519.0,4206.03123244958,1984,Los Angeles,Boxing,Boxing,"ZAOUI, Mohamed",Men,71-75KG,Bronze,summer
3,Algeria,ALG,39666519.0,4206.03123244958,1984,Los Angeles,Boxing,Boxing,"MOUSSA, Mustapha",Men,75 - 81KG (Light-Heavyweight),Bronze,summer
4,Algeria,ALG,39666519.0,4206.03123244958,1992,Barcelona,Athletics,Athletics,"BOULMERKA, Hassiba",Women,1500M,Gold,summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25737,Zimbabwe,ZIM,15602751.0,924.143819253412,2004,Athens,Aquatics,Swimming,"COVENTRY, Kirsty",Women,200M Individual Medley,Bronze,summer
25738,Zimbabwe,ZIM,15602751.0,924.143819253412,2008,Beijing,Aquatics,Swimming,"COVENTRY, Kirsty",Women,100M Backstroke,Silver,summer
25739,Zimbabwe,ZIM,15602751.0,924.143819253412,2008,Beijing,Aquatics,Swimming,"COVENTRY, Kirsty",Women,200M Backstroke,Gold,summer
25740,Zimbabwe,ZIM,15602751.0,924.143819253412,2008,Beijing,Aquatics,Swimming,"COVENTRY, Kirsty",Women,200M Individual Medley,Silver,summer
25741,Zimbabwe,ZIM,15602751.0,924.143819253412,2008,Beijing,Aquatics,Swimming,"COVENTRY, Kirsty",Women,400M Individual Medley,Silver,summer

In [39]:
winter_countries_df=countries_df.merge(winter_df,left_on='Code', right_on='Code')
winter_countries_df.head()

,Country,Code,Population,GDP per Capita,Year,City,Sport,Discipline,Athlete,Gender,Event,Medal
0,Australia,AUS,23781169.0,56310.9629933721,1994,Lillehammer,Skating,Short Track Speed Skating,"BRADBURY, Steven",Men,5000M Relay,Bronze
1,Australia,AUS,23781169.0,56310.9629933721,1994,Lillehammer,Skating,Short Track Speed Skating,"HANSEN, Kieran",Men,5000M Relay,Bronze
2,Australia,AUS,23781169.0,56310.9629933721,1994,Lillehammer,Skating,Short Track Speed Skating,"MURTHA, Andrew",Men,5000M Relay,Bronze
3,Australia,AUS,23781169.0,56310.9629933721,1994,Lillehammer,Skating,Short Track Speed Skating,"NIZIELSKI, Richard",Men,5000M Relay,Bronze
4,Australia,AUS,23781169.0,56310.9629933721,1998,Nagano,Skiing,Alpine Skiing,"STEGGALL, Zali",Women,Slalom,Bronze

In [40]:
winter_countries_df["Season"]="winter"
winter_countries_df

,Country,Code,Population,GDP per Capita,Year,City,Sport,Discipline,Athlete,Gender,Event,Medal,Season
0,Australia,AUS,23781169.0,56310.9629933721,1994,Lillehammer,Skating,Short Track Speed Skating,"BRADBURY, Steven",Men,5000M Relay,Bronze,winter
1,Australia,AUS,23781169.0,56310.9629933721,1994,Lillehammer,Skating,Short Track Speed Skating,"HANSEN, Kieran",Men,5000M Relay,Bronze,winter
2,Australia,AUS,23781169.0,56310.9629933721,1994,Lillehammer,Skating,Short Track Speed Skating,"MURTHA, Andrew",Men,5000M Relay,Bronze,winter
3,Australia,AUS,23781169.0,56310.9629933721,1994,Lillehammer,Skating,Short Track Speed Skating,"NIZIELSKI, Richard",Men,5000M Relay,Bronze,winter
4,Australia,AUS,23781169.0,56310.9629933721,1998,Nagano,Skiing,Alpine Skiing,"STEGGALL, Zali",Women,Slalom,Bronze,winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4821,United States,USA,321418820.0,56115.7184261955,2014,Sochi,Skiing,Snowboard,"DEIBOLD, Alex",Men,Snowboard Cross,Bronze,winter
4822,United States,USA,321418820.0,56115.7184261955,2014,Sochi,Skiing,Snowboard,"CLARK, Kelly",Women,Half-Pipe,Bronze,winter
4823,United States,USA,321418820.0,56115.7184261955,2014,Sochi,Skiing,Snowboard,"FARRINGTON, Kaitlyn",Women,Half-Pipe,Gold,winter
4824,United States,USA,321418820.0,56115.7184261955,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",Women,Slopestyle,Gold,winter
4825,Uzbekistan,UZB,31299500.0,2132.07036847857,1994,Lillehammer,Skiing,Freestyle Skiing,"CHERYAZOVA, Lina",Women,Aerials,Gold,winter

In [131]:
all_df=pd.concat([summer_countries_df,winter_countries_df])
all_df

,Country,Code,Population,GDP per Capita,Year,City,Sport,Discipline,Athlete,Gender,Event,Medal,Season
0,Afghanistan,AFG,32526562.0,594.323081219966,2008,Beijing,Taekwondo,Taekwondo,"NIKPAI, Rohullah",Men,- 58 KG,Bronze,summer
1,Afghanistan,AFG,32526562.0,594.323081219966,2012,London,Taekwondo,Taekwondo,"NIKPAI, Rohullah",Men,58 - 68 KG,Bronze,summer
2,Algeria,ALG,39666519.0,4206.03123244958,1984,Los Angeles,Boxing,Boxing,"ZAOUI, Mohamed",Men,71-75KG,Bronze,summer
3,Algeria,ALG,39666519.0,4206.03123244958,1984,Los Angeles,Boxing,Boxing,"MOUSSA, Mustapha",Men,75 - 81KG (Light-Heavyweight),Bronze,summer
4,Algeria,ALG,39666519.0,4206.03123244958,1992,Barcelona,Athletics,Athletics,"BOULMERKA, Hassiba",Women,1500M,Gold,summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4821,United States,USA,321418820.0,56115.7184261955,2014,Sochi,Skiing,Snowboard,"DEIBOLD, Alex",Men,Snowboard Cross,Bronze,winter
4822,United States,USA,321418820.0,56115.7184261955,2014,Sochi,Skiing,Snowboard,"CLARK, Kelly",Women,Half-Pipe,Bronze,winter
4823,United States,USA,321418820.0,56115.7184261955,2014,Sochi,Skiing,Snowboard,"FARRINGTON, Kaitlyn",Women,Half-Pipe,Gold,winter
4824,United States,USA,321418820.0,56115.7184261955,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",Women,Slopestyle,Gold,winter
4825,Uzbekistan,UZB,31299500.0,2132.07036847857,1994,Lillehammer,Skiing,Freestyle Skiing,"CHERYAZOVA, Lina",Women,Aerials,Gold,winter

#### Check your code

In [98]:
from nbresult import ChallengeResult

result = ChallengeResult('all_df',
    all_df_shape=all_df.shape,
    all_df_columns=set(all_df.columns)
)
result.write()

print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.10.6, pytest-7.1.3, pluggy-1.0.0 -- /home/ana/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /home/ana/code/nusero92/data-multiple-files-with-pandas/tests
plugins: anyio-3.6.2, asyncio-0.19.0
asyncio: mode=strict
collecting ... collected 2 items

test_all_df.py::TestAllDf::test_all_df_columns PASSED                    [ 50%]
test_all_df.py::TestAllDf::test_all_df_shape PASSED                      [100%]

============================== 2 passed in 0.02s ===============================


ðŸ’¯ You can commit your code:

git add tests/all_df.pickle

git commit -m 'Completed all_df step'

git push origin master

### Top Countries Analysis

In [114]:
=all_df[all_df["Year"] > 1984]
type(country)

pandas.core.frame.DataFrame

In [136]:
sort=country[["Medal"]].sum()
sort

Medal    BronzeBronzeGoldBronzeGoldGoldBronzeGoldSilver...
dtype: object